# See https://github.com/github/linguist/blob/master/docs/overrides.md
*.html linguist-generated
# SCM syntax highlighting & preventing 3-way merges
pixi.lock merge=binary linguist-language=YAML linguist-generated=true
