# python 3.11
cached-property == 1.5.2
ipython == 8.7.0
ipywidgets == 8.0.3
jupyter-client == 7.4.8  # For dynamic mode
jupyter-core == 5.1.0  # For dynamic mode
markdown2 == 2.4.6
matplotlib == 3.6.2
nbclient == 0.7.2  # Not directly used
nbconvert == 7.2.7
nbformat == 5.7.1
notebook == 6.5.2  # For dynamic mode
numpy == 1.24.0  # For demos
pandas == 1.5.2  # For demos
panel == 0.14.2  # For panel static interact mode
plotly == 5.11.0
pygments == 2.15.1
termcolor == 2.1.1
tqdm == 4.64.1
