# python 3.7
cached-property == 1.5.2
ipython == 7.16.1
ipywidgets == 7.5.1
jedi == 0.17.1  # Fix compatibility issue
Jinja2 == 3.0.0  # Fix compatibility issue
jupyter-client == 6.0.0  # For dynamic mode
jupyter-core == 4.6.3  # For dynamic mode
markdown2 == 2.3.9
matplotlib == 2.2.5
nbconvert == 5.6.1
nbformat == 5.0.4
notebook == 6.0.3  # For dynamic mode
numpy == 1.16.6  # For demos
pandas == 1.0.1  # For demos
panel == 0.14.1  # For panel static interact mode
plotly == 4.6.0
termcolor == 1.1.0
tqdm == 4.48.2
